# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm

*.iml

##ignore node modules
node_modules

## Directory-based project format:
.idea/

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

## File-based project format:
*.ipr
*.iws

## private properties(api keys, etc)
config/privateProperties