.vertical-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.heading{
  color: white;
  text-align: center;
  background-color: #337ab7;
}

.page-heading{
  font-size: x-large;
  margin-bottom: 50px;
  .heading;
}

.section-heading{
  font-size: large;
  .heading;
}

#error{
  text-align: center;
}
