<form class="col-md-8 col-md-offset-2">
    <div class="section-heading">{{sectionHeadingTxt}}</div>
    <div class="input-group">
        <span class="input-group-addon">{{pickArtistLblTxt}}</span>
        <input class="form-control" type="text" placeholder="Guess Artist..." ng-model="artistGuessed"/>
    </div>
    <div class="input-group">
        <span class="input-group-addon">{{pickSongLblTxt}}</span>
        <input class="form-control" type="text" placeholder="Guess Song..." ng-model="songGuessed"/>
    </div>
    <button class="btn-block btn-primary" ng-click="makeGuess()" type="button">{{submitBtnTxt}}</button>
</form>