<form class="col-md-4 col-md-offset-4">
    <div class="input-group">
        <span class="input-group-addon">{{identifierLblTxt}}</span>
        <input class="form-control" type="text" ng-model="identifier"/>
    </div>
    <button class="btn-block btn-primary" ng-click="resetPassword()" type="button" ng-disabled="loading">{{resetPasswordBtnTxt}}</button>
    <div id="error" class="alert alert-danger" role="alert" ng-show="error">{{errorMessage}}</div>
    <div class="alert alert-success" role="alert" ng-show="success">{{successMessage}}</div>
</form>